%h1.ui.center.aligned.medium.icon.header
  %i.circular.power.off.icon
  Log In To Continue

.ui.placeholder.segment
  .ui.two.column.very.relaxed.stackable.grid
    .column
      = form_with url: login_path, local: true, class: 'ui form' do |form|
        .field
          = form.label :email
          .ui.left.icon.input
            = form.text_field :email, placeholder: 'Email Address', required: true
            %i.at.icon
        .field
          = form.label :password
          .ui.left.icon.input
            = form.password_field :password, placeholder: 'Password', required: true
            %i.lock.icon
        = form.submit 'Login', class: 'ui fluid blue submit button'
    .middle.aligned.column
      .ui.blue.submit.button
        %i.signup.icon
        Sign Up
  .ui.vertical.divider
    Or

