!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title MessageMe
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .ui.tiny.menu.inverted
      .ui.container
        = link_to 'Chat Room', root_path, class: 'item'
        = link_to 'Messages', '#', class: 'item'
        .right.menu
          .ui.dropdown.item
            Account
            %i.dropdown.icon
            .menu
              = link_to 'Logout', '#', class: 'item'
              = link_to 'Login', '#', class: 'item'
              = link_to 'Sign Up', '#', class: 'item'
          .item
            .ui.primary.button Sign Up

    .ui.container
      = yield
