!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title MessageMe
    = favicon_link_tag
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .header
      .ui.tiny.menu.inverted.attached
        .ui.container
          = link_to 'Chat Room', root_path, class: 'item'
          = link_to 'Messages', '#', class: 'item'
          .right.menu
            .ui.dropdown.item
              Account
              %i.dropdown.icon
              .menu
                - if logged_in?
                  = link_to 'Logout', logout_path, method: :delete, class: 'item'
                - else
                  = link_to 'Login', login_path, class: 'item'
            - unless logged_in?
              .item
                = link_to 'Sign Up', signup_path, class: 'ui primary button'

    .ui.container
      - flash.each do |type, message|
        %div.ui.message.transition{ class: type }
          %i.close.icon
          .header= type.titleize
          %p= message

    .ui.container
      = yield
